{% extends "base.html" %}
{% load static %}
{% block 'main' %}
<div class="row">
    <div class="col-md-12">
        <h2>About</h2>
        <hr>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam inventore repudiandae, repellendus incidunt unde tenetur autem qui eveniet veniam quia enim nemo sequi adipisci distinctio? Maiores ullam nobis repellendus sed?</p>
    </div>
    <div class="col-md-6">
       <h2>Vision</h2> 
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias corrupti inventore, eos a, adipisci quibusdam quo ea voluptatibus omnis dicta doloremque exercitationem porro aspernatur! Quibusdam tempora fuga sed laboriosam cupiditate!</p>
    </div>
    <div class="col-md-6">
        <h2>Mission</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil rerum alias sequi neque? Minus officia sunt blanditiis a voluptas, itaque natus cupiditate sit exercitationem molestias assumenda ut harum ex vitae.</p>
    </div>


</div>
<!--Statistics Start-->
<h2 class="mt-4">Statistic</h2>
<hr>
<div class="row">
    <div class="col-md-4 mt-4 shadow p-3">
        <h1 class="text-danger text-center shadow p-3">10000+</h1>
        <h3 class="text-center">Happy Customer</h3>
    </div>
    <div class="col-md-4 mt-4 shadow p-3">
        <h1 class="text-danger text-center shadow p-3">20000+</h1>
        <h3 class="text-center">Ordered Delivered</h3>  
    </div>
    <div class="col-md-4 mt-4 shadow p-3">
        <h1 class="text-danger text-center shadow p-3">600+</h1>
        <h3 class="text-center">Products</h3>  
    </div>
</div>
</div>
{% endblock 'main'%}

